.wrapper {
  position: absolute;
  width: 100%;
  padding-top: 24px;

  @include md {
    padding-top: 24px;
  }

  @include sm {
    padding-top: 16px;
  }
}

.container {
  border-radius: 5px;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
  max-width: 1200px;
  margin: auto;

  @include md {
    padding: 15px 15px;
  }

  @include sm {
    padding: 5px;
  }
  .social {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.menuIcon {
  color: #fff;
  margin-right: 5px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobileLogo {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.link {
  text-decoration: none !important;
  color: #fff;
  p {
    font-weight: 800;
    font-size: 18px;

    @include lg {
      font-size: 16px;
    }
  }
}

.listItemText {
  font-weight: 600;
}
