.wrapper {
    padding-top: 120px;
    padding-bottom: 500px;
    background-color: black;

    @include md {
      padding-top: 120px;
      padding-bottom: 200px;
    }
  
    @include sm {
      padding-top: 80px;
      padding-bottom: 100px;
    }
}

.got{
    width: 465px;
    height: 52px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF; 
    @include sm{
        font-size: 30px;
    }  
  }
  
  .upcontent{
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    padding-left: 30px ;
    //text-align: center;
    @include md{
        padding-left: 0px;
        margin:auto;
        justify-content: center;
        flex-direction: column ;
        padding-top: 60px;
    }
    
  }
  
  .content1 { 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    width: 358px;
    margin-left: 65px;
    @include lg{
        margin-left: 0;
    }
    @include sm{
        margin-left: 0px;
        width: 100%;
        padding: 12px;
        font-size: 17px;
    }
  }

  .goatimg{
    position: relative;
    display: flex;
    background-repeat:no-repeat ;
    background-size: cover;
    width: 401px;
    height: 395px;
    background-image: url( "../../asset/kinggoatz.svg");
    
  }

  .line{
    width: auto;
    height: 48px;
    background: linear-gradient(90deg, #D8C200 1.57%, #AA9903 67.61%, #EAD731 98.56%);
    margin-bottom: 72px;
  }

  .welcome__header {
    background-color: #FFCC33;
    padding: 45px 30px;
    margin-top: 50px;
    
    .welcome__header--flex {
        display: flex;
        justify-content: space-between;
        @include md {
            display: block;
            text-align: center;
        }

        .welcome__header--heading {
            color: #000;
            font-size: 48px;
            font-weight: 800;
            @include sm {font-size: 30px;}
        }
        .welcome__header--box {
            background-color: #000;
            color: #fff;
            display: grid;
            place-items: center;
            text-align: center;
            font-size: 30px;
            font-weight: 800;
            line-height: 1.1;
            width: 424px;
            height: 212px;
            @include md {
                width: 100%;
                margin-top: 30px;
            }
            @include sm {font-size: 18px;height: 144px;}
        }
    }
}

.filter__btn--flex {
    padding: 16px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include md {
        display: block;
    }
    .filter__btn--wrapper {
        background-color: #FFCC33;
        border-radius: 6px;
        width: 250px;
        height: 45px;

        &.relat {
            position: relative;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .filter__list {
            width: 250px;
            position: absolute;
            z-index: 1000;
            background-color: #FFCC33;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
    .btn {
        width: 200px;
        margin-bottom: 12px;
        padding: 8px 16px;
        height: 45px;
    }
}
.filter__btn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    .box {
        width: 30px;
        height: 30px;
    }
    span {
        font-size: 16px;
        margin-left: 4px;
        color: #000;
        text-transform: uppercase;
    }

    &:hover {font-weight: bold;}
}

.item{
    margin-left:56px ;
    margin-right: 50px;
    @include md{
        margin-left:15px;
        margin-right:15px;
        width: auto;   
    }
}


.nft__grid {
    
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   
    //@include sm {grid-template-columns: repeat(2, 1fr);}
    //@include xs {grid-template-columns: repeat(1, 1fr);}
    .nft__grid--card {
        border: 3px solid #e8b736;
        background-color: #000;
        height: 340px;
        width: 301px;
        margin: auto;
        
        .item__title {
            width: 295px;
            height: 44px;
            background: linear-gradient(90deg, #D8C200 1.57%, #AA9903 67.61%, #EAD731 98.56%);
            text-align: center;
            padding: 8px 0;
            font-weight: 800;
            color: #fff;
            font-family: 'Montserrat';
            font-size: 24px;
        }
        .item__price {
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 291px;
            height: 54px;
            @include md{
                padding-left: 10px;
            }
            span {
                color: #FFCC33;
                font-size: 24px;
                font-weight: 800;
                @include md{
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            a,button {
                box-shadow: 0px 4px 9px rgba(225, 225, 225, 225);
                background: transparent;
                color: #D8C200;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 800;
                font-size: 32px;
                line-height: 39px;
                text-align: center;
                width: 108px;
                height: 43px;
                align-items:center ;
                text-decoration: none;
                @include md{
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 30px;
                }
            }
        }
    }
}

// [id].js
.btn {
    box-shadow: 0px 4px 9px rgba(225, 225, 225, 225);
    background: transparent;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    width: 254px;
    height: 86px;
    color: #D8C200;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include md{
        margin: 65px;
    }
}
.goatz__heading {
    font-size: 36px;
    color: #fff;
    font-weight: 800;
    text-transform: capitalize;
    @include md {text-align: center;font-size: 30px;}
}

.goatz__details--flex {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;

    .goatz__details--img {
        width: 35%;
        button {
            display: block;
            width: 100%;
            background-color: #06d202;
            border: none;
            font-size: 30px;
            font-weight: 800;
            border-radius: 12px;
            margin-top: 16px;
            color: #000;
        }
    }

    .goatz__details--details {
        width: 60%;
        .description {
            background-color: #fc3;
            color: #000;
            border-radius: 12px;
            padding: 12px;
            font-size: 18px;
            padding-bottom: 30px;
        }

        .image__list--wrapper {
            background-color: #FFCC33;
            margin-top: 32px;
            margin-bottom: 16px;
            padding: 12px 0;
            overflow: auto;
            overflow-y: hidden;

            .message {
                text-align: center;
                color: #fff;
                font-size: 24px;
                font-weight: bold;
                padding-bottom: 12px;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                // overflow: auto;
                // overflow-y: hidden;
                white-space: nowrap;
                
                li {
                    width: 150px;
                    margin-right: 8px;
                    display: inline-block;
                }
            }

            .image__list--wrapper-img {
                width: 150px;
                height: 150px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .number__input {
            margin: 16px 0;
            border: none;
            outline: transparent;
            background-color: #FFCC33;
            text-align: center;
            width: 100%;
            padding: 12px;
            font-size: 26px;
            border-radius: 12px;
            color: #000;
            &::placeholder {color: #333;}
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            -moz-appearance: textfield;
        }
    }

    @include md {
        display: block;
        max-width: 556px;
        margin: auto;

        .goatz__details--img {
            width: 75%;
            margin: 16px auto;
        }
        .goatz__details--details {width: 100%;}
    }
}

.add__item--input-name-container {
    @include md {
        max-width: 556px;
        margin: auto;
    }

    .add__item--input-name {
        background-color: #D9D9D9;
        border: none;
        padding: 4px 8px;
        font-size: 24px;
        font-weight: 800;
        color: #000;
        &::placeholder {color: #fff;}
    }
}

.form__flex {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;

    .form__left {
        width: 35%;
        .image__container {
            width: 100%;
            height: 300px;
            background-color: #BDBDBD;
            display: grid;
            place-items: center;
            position: relative;
            &.border_on_drag {
                border: 5px dashed #FFCC33;
                border-radius: 12px;
            }

            .rotate__text {
                font-size: 24px;
                font-weight: 800;
                color: #fff;
                transform: rotate(-28.06deg);
            }

            input[type=file] {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
        button {
            display: block;
            width: 100%;
            background-color: #06d202;
            border: none;
            font-size: 30px;
            font-weight: 800;
            border-radius: 12px;
            margin-top: 16px;
            color: #000;
            @include md {display: none;}
        }
    }
    .form__right {
        width: 63%;

        button {
            display: block;
            width: 100%;
            background-color: #06d202;
            border: none;
            font-size: 30px;
            font-weight: 800;
            border-radius: 12px;
            margin-top: 16px;
            color: #000;
            display: none;
            @include md {display: block;}
        }

        .form__right--grid {
            display: grid;
            grid-gap: 16px;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 12px;

            & > div {
                background-color: #BDBDBD;
                color: #fff;
                padding: 12px;
                border-radius: 8px;
                font-size: 18px;
            }
            & > input,
            & > textarea {
                background-color: #BDBDBD;
                color: #000;
                padding: 12px;
                border-radius: 8px;
                font-size: 18px;
                border: none;
                outline: none;
                &::placeholder {color: #fff;}
            }
            input[type=number] {
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                -moz-appearance: textfield;
            }
            & > textarea {height: 150px;}
        }
    }

    
    @include md {
        display: block;
        max-width: 556px;
        margin: 16px auto;
        
        .form__left,
        .form__right {width: 100%;}
    }
}

.comment__box {
    padding: 12px;
    margin-top: 15px;
    background-color: #fff;
    max-width: 768px;
    border-radius: 6px;
    border: 3px solid #FFCC33;
    // box-shadow: 0 0 2px #fff,
    //             0 0 .2rem #fff,
    //             0 0 2rem #FFCC33,
    //             0 0 0.8rem #FFCC33,
    //             0 0 0.8rem #FFCC33,
    //             inset 0 0 0.6rem #FFCC33;

    textarea {
        border: none;
        outline: none;
        width: 100%;
        height: 100px;
        resize: none;
        font-size: 20px;
        border-bottom: 1px solid #cdcdcd;
    }
    .btns {
        display: flex;
        justify-content: flex-end;
        padding-top: 12px;
        .cancel__btn {
            border: none;
            outline: none;
            padding: 0;
            margin: 0;
            background: transparent;
            margin-right: 20px;
            font-size: 18px;
        }
        .ok__btn {
            border: none;
            outline: none;
            background: #FFCC33;
            font-size: 18px;
            padding: 8px 12px;
            border-radius: 6px;
            &:hover {background: crimson;color: #fff;}
        }
    }
}

.h1_title {
    color: #fff;
    text-align: center;
}